
/* reset das configurações do navegador */
* {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    /* border: 1px solid red; */
}
/* seletor de tag */
body {
    background-color: #9a5dd0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
/* seletor de id */
#card {
    background-color: #d3d2d2;
    width: 35%;
    padding: 50px;
}

h1 {
   margin-bottom: 20px; 
}

/* seletor filho */
.bloco > input {
    margin: 10px 0;
    height: 36px;
    border-radius: 6px;
    width: 100%;
    padding-left: 5px;
}

button {
    background-color: #9a5dd0;
    width: 100%;
    padding: 10px;
    font-weight:600 ;
    margin-top: 10px; 
    border-radius: 6px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #641da2;
    cursor: pointer;
    color: #d3d2d2;
}

p {
    /* duas margens iguais mostrando a diferença entre chamar com 2 valores e chamar com 4 valores */
    margin: 20px 0;
    margin: 20px 0 20px 0;
}

p > a:hover {
    text-decoration: underline;
}